.mainHome{/* Se creo para separar los datos de la tabla */
    display: grid;
    gap: 10px;

    
    #datospersonales{/* Corresponde a los datos personales en el Home */
        border: 5px solid rgb(0, 102, 255);
    
        .contenidoDatosPersonales{    
            background-color: rgba(0, 255, 208, 0.595);
            display: grid;
            grid-template-columns: 125px 1fr;
            gap: 10px;
    
    
            .marcoImagenUsuario{
                display: grid;
                justify-items: center;
                align-items: center;
    
                svg{/* Corresponde al borde del avatar en el Home */
                background-color: rgb(221, 219, 219);
                width: 100px;
                height: 100px;
                }
            }
            
            .datosUsuario {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 2px;               
            
                h1 {/* Corresponde a los datos personales en el Home */
                    @extend .boxTexto--center;
                    color: $colorPrincipal;
                    margin-top: 10px;
                    font-size: 30px;
                }
            
                h2{
                    @extend .boxTexto;
                    color: $colorSecundario;
                    font-size: 23px;
                }
            
                h3{
                    margin: 5px;
                    @extend .boxTexto;
                    color: $colorSecundario;
                    font-size: 14px;
                    
                }    
            }     
        }
    }
}

.presentacion_tabla{
    h4{
        font-size: 20px;
        margin: 20px 5px 5px 5px;
    }
}


table {/* Corresponde a la tabla de home */
    border:aquamarine;
    text-align: center;

    #mes a{
        display: flex;
        min-width: 110px;
    }

    @media (min-width: $mobile){
        font-size: 12px;

       

        thead{
            display: none;
        }

        td{
            display: flex;
            justify-content: space-between;
            align-items:center;
            text-align: center;

            &::before{
                content: attr(label);
            }
        }
    }

    @media (min-width: $tablet){
        font-size: 16px;

        thead{
            display: contents;
        }   

        td{
            display:table-cell;
            flex-direction: column;

            &::before{
                content: attr(label);
                display: none;
            }
        }
    }
}
      
#resumentabla1{    
    @if $estatusEstado1 == Pagado {
        background-color: greenyellow;
        color: green;
        } @else if $estatusEstado1 == Pendiente {
            background-color: yellow;
            color: red;
        } @else if $estatusEstado1 == AunNoEmpieza {
            background-color: gainsboro;
            color: white;
        }
    @else {
        background-color: red;
        color: black;
    }
}
    
#resumentabla2{    
    @if $estatusEstado2 == Pagado {
        background-color: greenyellow;
        color: green;
        } @else if $estatusEstado2 == Pendiente {
            background-color: yellow;
            color: red;
        } @else if $estatusEstado2 == AunNoEmpieza {
            background-color:  gainsboro;
            color: white;
        }
    @else {
        background-color: red;
        color: black;
    }
}
    
#resumentabla3{    
    @if $estatusEstado3 == Pagado {
        background-color: greenyellow;
        color: green;
        } @else if $estatusEstado3 == Pendiente {
            background-color: yellow;
            color: red;
        } @else if $estatusEstado3 == AunNoEmpieza {
            background-color: gainsboro;
            color: white;
        }
    @else {
        background-color: red;
        color: black;
    }
}
