
//Variables

//Variables generales
$colorBase: white;
$colorPrincipal: blue;
$colorSecundario: black;
$colorTerciario: green;

$tipografiaGeneral: Calibri;

$mobile: 360px;
$tablet: 760px;
$desktop: 1024px;

//Variables para Home
$estatusEstado1: Pagado; //Pagado, Pendiente, AunNoEmpieza 
$estatusEstado2: Pendiente; //Pagado, Pendiente, AunNoEmpieza 
$estatusEstado3: AunNoEmpieza; //Pagado, Pendiente, AunNoEmpieza 