
//Enlace que permite importar mis variables --> _vars.scss
@import "vars";


/* Estructura general */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografiaGeneral;

    body{/* Color de fondo de pantalla. Estoy pensando si lo quiero blanco o de otro color */
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 06em;
        min-height: 100%;
        background-color: rgb(251, 248, 248);

        main{
        padding: 10px 0px;
        margin: 10px;
        }

       
    }
}

@import "footergeneral";



/* Estructura de texto */
h1{
    font-size: 45px;
    text-align: center;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 30px;
    text-align: justify;
    margin: 25px 10px;
}

h4{
    margin: 5px;
}

p{
    text-align: justify;
}


/* Estructura general de las imagenes */
img{
    margin: 5px;
    border: 2px solid black;
}

/* General: extend para textos, con class --: Recordar que cuando vayas a crear la clase en el HTML no se debe incluir el punto inicial "." */

.boxTexto{/* Si hay texto, esta clase me permite crear una estructura general */
    line-height: 1;
    font-weight: 400;
}

.boxTexto--right{/* Permite que la estructura general, vaya a la derecha */
    @extend .boxTexto;
    text-align: right;
}

.boxTexto--center{/* Permite que la estructura general, vaya a la izquierda (si por algun motivo no puede hacerlo por defecto) */
    @extend .boxTexto;
    text-align: center;
}


/* Mixin */
/* Botones --> Recordar que cuando lo llames en el HTML no se debe incluir el punto*/
@mixin btnWeb{
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: calibri;
    justify-content: center;
}

.botonBase{/* Boton general */
    @include btnWeb();
    background-color: blue;
    border: 2px solid blue;
    color: white;
    &:hover{
        background-color: black;
        border: 2px solid black;
    }
}

.botonEspecial{/* Botón para casos especiales, ejemplo "Resetear", "olvido de contraseña", entre otras */
    @include btnWeb();
    background-color: yellow;
    border: 2px solid yellow;
    color: black;

    &:hover{
        background-color: black;
        border: 2px solid black;
        color: white;
    }
}

/* Diseños para cada página: */

/* Index */
@import "styleIndex";

/* Home */
@import "styleHome";

/* Mes */
@import "styleMes";

/* Enlaces cuentas */
@import "style_enlaces_cuentas";

/* Contactos */
@import "styleContactos";
