@charset "UTF-8";
/* Estructura general */
footer { /* Corresponde al marco del footer que aparece en todas las paginas*/
  background-color: black;
  color: aliceblue;
  font-family: "Times New Roman";
  width: 100%;
  margin-top: auto;
  text-align: center;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}
html body { /* Color de fondo de pantalla. Estoy pensando si lo quiero blanco o de otro color */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(251, 248, 248);
}
html body main {
  padding: 10px 0px;
}

/* General: extend para textos, con class --: Recordar que cuando vayas a crear la clase en el HTML no se debe incluir el punto inicial "." */
.boxTexto, #datospersonales .contenidoDatosPersonales .datosUsuario h3, #datospersonales .contenidoDatosPersonales .datosUsuario h2, .boxTexto--center, #datospersonales .contenidoDatosPersonales .datosUsuario h1, .boxTexto--right { /* Si hay texto, esta clase me permite crear una estructura general */
  line-height: 1;
  font-weight: 400;
}

.boxTexto--right { /* Permite que la estructura general, vaya a la derecha */
  text-align: right;
}

.boxTexto--center, #datospersonales .contenidoDatosPersonales .datosUsuario h1 { /* Permite que la estructura general, vaya a la izquierda (si por algun motivo no puede hacerlo por defecto) */
  text-align: center;
}

/* Mixin */
/* Botones --> Recordar que cuando lo llames en el HTML no se debe incluir el punto*/
.botonBase { /* Boton general */
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-family: calibri;
  justify-content: center;
  background-color: blue;
  border: 2px solid blue;
  color: white;
}
.botonBase:hover {
  background-color: black;
  border: 2px solid black;
}

.botonEspecial { /* Botón para casos especiales, ejemplo "Resetear", "olvido de contraseña", entre otras */
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-family: calibri;
  justify-content: center;
  background-color: yellow;
  border: 2px solid yellow;
  color: black;
}
.botonEspecial:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

/* Página index */
.boxModel { /* Corresponde al margen de index o de inicio*/
  background-color: aqua;
  width: 400px;
  height: 430px;
  margin: 100px auto;
  border: 2px solid blue;
  padding: 20px;
}
.boxModel header { /* Borde que contiene la imagen del avatar en index */
  background-color: rgba(188, 179, 179, 0.942);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
}
.boxModel h1 { /* marco del "Bienvenido" */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.boxModel .divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxModel main form { /* Marco del formulario */
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}
.boxModel .botonBase { /* Botón de ingreso */
  display: grid;
}
.boxModel .no-ingreso { /* Formato de los botones que serian para NO ingresar */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Página "Home" */
.mainHome { /* Se creo para separar los datos de la tabla */
  display: grid;
  gap: 10px;
}

#datospersonales { /* Corresponde a los datos personales en el Home */
  padding: 5px;
  background-color: rgb(0, 102, 255);
}
#datospersonales .contenidoDatosPersonales {
  background-color: rgba(0, 255, 208, 0.952);
  display: grid;
  grid-template-columns: 125px 1fr;
  gap: 10px;
}
#datospersonales .contenidoDatosPersonales .marcoImagenUsuario {
  display: grid;
  justify-items: center;
  align-items: center;
}
#datospersonales .contenidoDatosPersonales .marcoImagenUsuario svg { /* Corresponde al borde del avatar en el Home */
  background-color: rgb(221, 219, 219);
  width: 100px;
  height: 100px;
}
#datospersonales .contenidoDatosPersonales .datosUsuario {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
}
#datospersonales .contenidoDatosPersonales .datosUsuario h1 { /* Corresponde a los datos personales en el Home */
  color: blue;
}
#datospersonales .contenidoDatosPersonales .datosUsuario h2 {
  color: black;
}
#datospersonales .contenidoDatosPersonales .datosUsuario h3 {
  color: black;
}

.table { /* Corresponde a la tabla de home */
  border: aquamarine;
  text-align: center;
}

@media (max-width: 570px) { /* La idea es que la tabla se ajuste al celular */
  .table {
    width: 100%;
    height: auto;
  }
}
#resumentabla1 {
  background-color: greenyellow;
  color: green;
}

#resumentabla2 {
  background-color: yellow;
  color: red;
}

#resumentabla3 {
  background-color: white;
  color: white;
}

/* Página "Enlaces cuentas" */
#empresas_externas { /* Corresponde al marco en <Enlaces_cuentas> donde se indica la subcategoría + logo + enlace */
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#empresas_externas img { /* Corresponde a los logos de las empresas EXTERNAS en <enlaces_cuentas>. Si deseo colocar imagenes de otro tipo, debe ser fuera de este marco */
  width: 200px;
  height: 150px;
  border: 3px solid black;
}
#empresas_externas p a { /* Corresponde al boton de todos los enlaces. Lo hice aquí, porque quería que el contenido (en esta página) fuese de extremo a extremo del marco */
  display: flex;
  justify-content: center;
}
#empresas_externas .agua { /* Corresponde al marco en <Enlaces_cuentas> donde se indica el h2 +logo + enlace del grupo "agua" */
  background-color: white;
}
#empresas_externas .agua h2 { /* Marco para "Agua" en <enlaces_cuentas>*/
  background-color: rgb(0, 149, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
#empresas_externas .luz { /* Corresponde al marco en <Enlaces_cuentas> donde se indica el h2 + logo + enlace del grupo "Luz" */
  background-color: white;
}
#empresas_externas .luz h2 { /* Marco para "Luz" en <enlaces_cuentas>*/
  background-color: rgba(255, 242, 0, 0.927);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
#empresas_externas .gas { /* Corresponde al marco en <Enlaces_cuentas> donde se indica el h2 + logo + enlace del grupo "Gas" */
  background-color: white;
}
#empresas_externas .gas h2 { /* Marco para "Gas" en <enlaces_cuentas>*/
  background-color: orange;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */